* {
  margin: 0;
}

:root {
  --avenir-normal: avenir-normal;
  --avenir-bold: avenir-bold;
  --avenir-lt-bold: avenir-lt-bold;
  --color-red: rgb(232, 74, 67);
  --bg-color: rgb(242, 242, 242);
  --color-gray: rgb(95, 104, 131);
  --font-big: 1.125em;
  --font-xl: 2em;
  --font-lg: 1.7em;
  --font-small: 1.1em;
  --font-regular: 1em;
  --font-spacing-lg: 0.25em;
  --gap-large: 9em;
  --gap-small: 5em;
  --padding-large: 2.3em;
  --line-height-small: 1.5em;
  --line-height-large: 1.85em;
}

body {
  background: var(--bg-color);
  font-family: var(--avenir-normal);
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-large);
}

.text-red {
  color: var(--color-red);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5em 3.3em;
  font-family: var(--avenir-normal);
  color: var(--color-red);
  font-size: var(--font-regular);
  position: fixed;
  width: 100%;
  top: 0;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  cursor: pointer;
  opacity: 0;
}

.hamburger div {
  width: 1.6em;
  height: 3px;
  background: gray;
}

.header {
  display: grid;
  place-items: center;
  font-size: var(--font-xl);
  height: 100vh;
  text-align: center;
  position: relative;
  margin-top: 15%;
  padding: 0;
}

.header-heading {
  letter-spacing: var(--font-spacing-lg);
  color: var(--color-red);
  font-family: var(--avenir-normal);
}

.header-subheading {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 0.66em;
}

.circle {
  height: 800px;
  width: 800px;
  border-radius: 50%;
  border: 3px solid rgb(95, 104, 131);
  position: absolute;
  animation: opacity-control;
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.main {
  font-size: var(--font-regular);
  display: grid;
  gap: var(--gap-small);
  text-align: center;
  color: var(--color-gray);
  place-items: center;
}

.main * {
  width: 50%;
}

.main-phrase {
  letter-spacing: var(--font-spacing-lg);
  line-height: var(--line-height-small);
  font-family: var(--avenir-lt-bold) !important;
}

.main-text2 {
  font-size: var(--font-small) !important;
  line-height: var(--line-height-large);
  font-weight: bold;
}

.text-big {
  font-weight: normal;
  font-size: var(--font-lg) !important;
}

@keyframes opacity-control {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --font-xl: 1em;
    --font-big: 0.75em;
  }
  .hamburger {
    opacity: 1;
  }
  .circle {
    display: none;
  }
  .header {
    height: auto;
    margin-top: 40%;
  }

  .main * {
    width: 90%;
  }
  nav {
    padding: 1.5em 2em;
    width: auto;
    position: static;
  }
  .header-subheading {
    font-size: calc(var(--font-xl));
  }
}

@font-face {
  font-family: avenir-normal;
  src: url("fonts/New folder (10)/AvenirNextLTPro-Regular.otf");
  font-weight: 500;
}

@font-face {
  font-family: avenir-bold;
  src: url("fonts/New folder (10)/AvenirNextLTPro-Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: avenir-lt-bold;
  src: url("fonts/AvenirLTStd-Roman.otf");
}
